.Meaning h3 {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 20px;
}

.Meaning p {
  font-size: 14px;
  line-height: 17px;
  margin: 20px 0 10px;
}

.Meaning em {
  color: #70757a;
  font-size: 13px;
  opacity: 0.7;
  font-style: italic;
  margin-top: 10px;
}
